<header th:fragment="index">
    <nav class="navbar navbar-dark bg-primary justify-content-between">
        <a class="navbar-brand"><i class="fas fa-solid fa-cloud-moon"></i>Lista de Eventos</a>
        <a href="/eventos/cadastrar-evento" class="btn btn-warning text-light navbar-btn">
            <i class="fas fa-solid fa-folder-plus fa-lg"></i>
            Cadastrar Eventos
        </a>
    </nav>
</header>

<header th:fragment="createEvent">
    <nav class="navbar navbar-dark bg-primary justify-content-between">
        <a class="navbar-brand"><i class="fas fa-solid fa-folder-plus"></i>Cadastro de Eventos</a>
        <a href="/eventos" class="btn btn-warning text-light navbar-btn">
            <i class="fas fa-solid fa-house-user fa-lg"></i>
            Lista de Eventos
        </a>
    </nav>
</header>

<header th:fragment="viewEvent">
    <nav class="navbar navbar-dark bg-primary justify-content-between">
        <a class="navbar-brand"><i class="fas fa-solid fa-box-open"></i>Detalhes do Eventos</a>
        <a href="/eventos" class="btn btn-warning text-light navbar-btn">
            <i class="fas fa-solid fa-house-user fa-lg"></i>
            Lista de Eventos
        </a>
    </nav>
</header>