<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://thymeleaf.org">

<head th:insert="fragments/head">
    <title id="pageTitle">Cadastro de Eventos</title>
</head>

<body>
    <header th:replace="fragments/navbar :: createEvent"></header>

    <main>
        <div class="central-form">
            <h2 class="form-title">Cadastrar</h2>

            <form th:object="${eventoDto}" method="POST" class="form-body">
                <div class="row">
                    <div class="form-floating col-md-12">
                        <input type="text" class="form-control" placeholder=" " th:field="*{nome}">
                        <label>Nome</label>
                    </div>

                    <div class="form-floating col-md-12">
                        <input type="text" class="form-control" placeholder=" " th:field="*{local}">
                        <label>Local</label>
                    </div>

                    <div class="form-floating col-md-6">
                        <input type="date" class="form-control" th:field="*{data}">
                        <label>Data</label>
                    </div>

                    <div class="form-floating col-md-6">
                        <input type="time" class="form-control" th:field="*{horario}">
                        <label>Horário</label>
                    </div>

                    <button class="btn btn-primary btn-form" type="submit">
                        <i class="fas fa-solid fa-upload"></i>Enviar</button>
                </div>
            </form>
        </div>
    </main>

    <div th:replace="fragments/bottom"></div>
</body>

</html>