<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments/head :: general('Cadastro de Eventos')"></head>

<body>
    <header th:replace="fragments/navbar :: createEvent"></header>

    <main>
        <div class="central-form">
            <h2 class="form-title">Cadastrar</h2>

            <form th:object="${eventoDto}" method="POST" class="form-body">
                <div class="row">
                    <div class="form-floating col-md-12">
                        <input type="text" class="form-control" placeholder=" " th:field="*{nome}"  th:errorclass="is-invalid" required maxlength="60">
                        <label>Nome</label>
                        <div class="invalid-feedback" th:errors="*{nome}"></div>
                    </div>

                    <div class="form-floating col-md-12">
                        <input type="text" class="form-control" placeholder=" " th:field="*{local}"  th:errorclass="is-invalid" required maxlength="30">
                        <label>Local</label>
                        <div class="invalid-feedback" th:errors="*{local}"></div>
                    </div>

                    <div class="form-floating col-md-6">
                        <input type="date" class="form-control" th:field="*{data}"  th:errorclass="is-invalid" required>
                        <label>Data</label>
                        <div class="invalid-feedback" th:errors="*{data}"></div>
                    </div>

                    <div class="form-floating col-md-6">
                        <input type="time" class="form-control" th:field="*{horario}"  th:errorclass="is-invalid" required>
                        <label>Horário</label>
                        <div class="invalid-feedback" th:errors="*{horario}"></div>
                    </div>

                    <button class="btn btn-primary btn-form" type="submit">
                        <i class="fas fa-solid fa-upload"></i>Enviar</button>
                </div>
            </form>
        </div>
    </main>

    <div th:replace="fragments/bottom"></div>
</body>

</html>